.CoinItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  height: 7rem;
  
}
.CoinItem:nth-child(1)
{
  background-color: #00FFEB;
  height: fit-content;
  width:100%;
  position: sticky;
  top: 0;
  font-weight: bold;
}

.T {
 
    flex:1.2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-weight: bolder;
    gap: 1rem;
  
   
  }
  .T>img{
    width: 2rem;
    height: 2rem;
    align-items: center;
  
  }
.H {

  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black(117, 240, 117);
}
.H-g {

    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(117, 240, 117);
  }
  .H-r {

    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(237, 49, 49);
  }
.D {

  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.D-r {
   
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(237, 49, 49);
  }
  .D-g {
  
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(117, 240, 117);
  }
.W {
 
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.W-r {
    
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(237, 49, 49);
  }

  .W-g {

    flex:1;
    display: flex;
    flex-direction: row;
    color: rgb(117, 240, 117);
    justify-content: center;
  }
  

.P {
  
  flex:1; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.MC {
 
  flex:1; 
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.V24 {

  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1280px) and  (min-width: 100px)  {
  .CoinItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
    height: 1rem;
    font-size: x-small;
    
  }
  .CoinItem:nth-child(1)
  {
    background-color: #00FFEB;
    height: fit-content;
    width:100%;
    position: sticky;
    top: 0;
    font-size: x-small;
   
  }
  
  .T {
   
      flex:1.2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
     
      gap: 1rem;
    
     
    }
    .T>img{
      display: none;
      width: 2rem;
      height: 2rem;
      align-items: center;
    
    }
  .H {
    
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black(117, 240, 117);
  }
  .H-g {
  
      flex:1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: rgb(117, 240, 117);
    }
    .H-r {
  
      flex:1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: rgb(237, 49, 49);
    }
  .D {
  
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .D-r {
     
      flex:1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: rgb(237, 49, 49);
    }
    .D-g {
    
      flex:1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: rgb(117, 240, 117);
    }
  .W {
   
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .W-r {
      
      flex:1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: rgb(237, 49, 49);
    }
  
    .W-g {
  
      flex:1;
      display: flex;
      flex-direction: row;
      color: rgb(117, 240, 117);
      justify-content: center;
    }
    
  
  .P {
    
    flex:1; 
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .MC {
   
    flex:1; 
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .V24 {
  
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}


/* @media screen and (max-width: 850px) and  (min-width: 100px)  {

} */