.Market
{
    height: 30vh;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(238, 130, 238, 1) 47%, rgba(0, 209, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
   

}
.MarketRefresh{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;  
    width: 97%;
}

.CoinContainer{
 
    height: 97%;
    width: 97%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    gap:.5rem;

}
