.NavBar {
  display: grid;
  justify-content: center;
  /* grid-template-columns: 10rem 20rem 10rem 20rem; */
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  height: 10%;
  border-radius: 10px;
  gap: 5rem;
  background-color: beige;
 
}

.NavBar > .User {
  align-items: center;
}

.Heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.Heading > h2 {
  font-size: medium;
}
.Heading > img {
  border-radius: 10rem;
  cursor: pointer;
  height: 50%;
  width: 3rem;
  align-items: center;
  justify-content: center;
}

.SearchGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  

  cursor: pointer;
  
 
}
.TextArea {
  height: 30px;
  background-color: antiquewhite;
}
.Link {
  display: flex;
  flex-direction: row;
  
  column-gap: 10px;
  align-items: center;
  
}

.User {

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  
  justify-content: end;
 
}
.UserImg > img {
  border-radius: 10rem;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
}

.UserImg > span {
  border-radius: 10rem;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  align-items: center;
  justify-content: center;
}
.UserIcon {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}
.UserIcon > span {
  width: 8rem;
  font-size: small;
}

@media screen and (max-width: 1000px) and (min-width: 100px) {
  .NavBar {
    display: flex;
    justify-content: center;
    /* grid-template-columns: 10rem 20rem 10rem 20rem; */
   flex-direction: column;
   background-color: beige;
    border-radius: 10px;

   
  }
  
  .NavBar > .User {
    align-items: center;
  }
  
  .Heading {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  .Heading > h2 {
    font-size: medium;
  }
  .Heading > img {
    border-radius: 10rem;
    cursor: pointer;
    height: 50%;
    width: 3rem;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .SearchGroup {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
  
    cursor: pointer;

   
  }
  .TextArea {
    display: none;
    height: 30px;
    background-color: antiquewhite;
  }
  .Link {
    display: flex;
    flex-direction: row;

    column-gap: 10px;
    align-items: center;
    
  }
  
  .User {
  
    display: none;
    flex-direction: row;
    gap: 0.5rem;

    justify-content: end;
   
  }
  .UserImg > img {
    border-radius: 10rem;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  .UserImg > span {
    border-radius: 10rem;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
  }
  .UserIcon {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
     display: none;
  }
  .UserIcon > span {
    width: 8rem;
    font-size: small;
  }
   
}
