.RightBar{
   
    width: 20%;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;  
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    position: relative;

}

.MiningContainer
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: absolute;
  
}
@media screen and (max-width: 1422px) and  (min-width: 500px)  {
    .RightBar{
   
        width: 20%;
        border-radius: 10px;  
        display: flex;
        flex-direction: column;
      
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        position: relative;
    
    }
    
    .MiningContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: start;
    
        position: absolute;
      
    }
}